$contact-block-header: #212934;
$placeholder-color: #4c4c4c;

.contact-block {
    margin-bottom: 30px;

    a {
        color: $placeholder-color;
        cursor: pointer;
        display: inline-block;
        font-size: 17px;
        font-style: italic;

        span {
            display: block;
        }

        &:hover {
            color: $red;
            outline: 0;
            text-decoration: none;
        }

        @media (max-width: $screen-tablet - 1) {
            font-size: 14px;
        }
    }

    h2 {
        color: $contact-block-header;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 0;

        @media (max-width: $screen-tablet - 1) {
            font-size: 16px;
        }
    }

    .contact-block-content {
        display: inline-block;
        vertical-align: top;
    }

    .contact-block-image {
        @media (min-width: $screen-tablet) {
            display: inline-block;
            margin-right: 10px;
            text-align: center;
            width: 40px;
        }

        @media (max-width: $screen-tablet - 1) {
            margin-bottom: 7px;
            transform: scale(.85);
        }
    }

    .link-container {
        @media (min-width: $screen-tablet) {
            display: block;
        }
    }

    @media (max-width: $screen-tablet - 1) {
        text-align: center;
    }
}

.contact-info-row {
    @media (max-width: $screen-tablet - 1) {
        margin-top: -25px;
    }
}

.eas-contact-form {
    button,
    input,
    textarea {
        border: 0;
        border-radius: 0;
        box-shadow: 0;
    }

    button {
        background-color: $red;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        padding: 19px 0;
        text-transform: uppercase;
        width: 100%;

        &:hover {
            background-color: darken($red, 5%);
        }
    }

    input {
        background-color: rgba($black, .08);
        height: 70px;
        margin-bottom: 15px;
        padding-left: 17px;

        &:focus {
            @include placeholder {
                color: transparent;
            }
        }

        @include placeholder {
            color: $placeholder-color;
            font-size: 13px;
            font-weight: bold;
        }
    }

    textarea {
        background-color: rgba($black, .08);
        margin-bottom: 15px;
        padding-left: 17px;
        padding-top: 12px;
        resize: none;

        &:focus {
            @include placeholder {
                color: transparent;
            }
        }

        @include placeholder {
            color: $placeholder-color;
            font-size: 13px;
            font-weight: bold;
        }
    }
}
