<div class="container">
    <h1 class="eas-page-header">{{vm.header}}</h1>
    <p class="eas-page-sub-header">{{vm.subheader}}</p>
    <div class="row contact-info-row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 col-sm-6 contact-block">
                    <div class="contact-block-image">
                        <img ng-src="{{vm.templateDirectory + '/assets/images/phone.png'}}" />
                    </div>
                    <div class="contact-block-content">
                        <h2>{{vm.phoneNumberHeader}}</h2>
                        <div class="link-container">
                            <a ng-href="tel:{{vm.phoneNumberOne | digitsOnly}}">{{vm.phoneNumberOne}}</a>
                        </div>
                        <div class="link-container" ng-if="vm.phoneNumberTwo">
                            <a ng-href="tel:{{vm.phoneNumberTwo | digitsOnly}}">{{vm.phoneNumberTwo}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-6 contact-block">
                    <div class="contact-block-image">
                        <img ng-src="{{vm.templateDirectory + '/assets/images/mail.png'}}" />
                    </div>
                    <div class="contact-block-content">
                        <h2>{{vm.emailAddressHeader}}</h2>
                        <div class="link-container">
                            <a ng-href="mailto:{{vm.emailAddressOne}}">{{vm.emailAddressOne}}</a>
                        </div>
                        <div class="link-container" ng-if="vm.emailAddressTwo">
                            <a ng-href="mailto:{{vm.emailAddressTwo}}">{{vm.emailAddressTwo}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-6 contact-block">
                    <div class="contact-block-image">
                        <img ng-src="{{vm.templateDirectory + '/assets/images/business.png'}}" />
                    </div>
                    <div class="contact-block-content">
                        <h2>{{vm.businessAddressHeader}}</h2>
                        <div class="link-container">
                            <a target="_blank" ng-href="{{vm.businessMapLink}}">
                                <span>{{vm.businessStreetAddress}}</span>
                                <span>{{vm.businessCity}}, {{vm.businessState}} {{vm.businessPostalCode}}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-6 contact-block" ng-if="vm.mailingAddressHeader && vm.mailingStreetAddress && vm.mailingCity && vm.mailingPostalCode && vm.mailingState && vm.mailingMapLink">
                    <div class="contact-block-image">
                        <img ng-src="{{vm.templateDirectory + '/assets/images/envelope.png'}}" />
                    </div>
                    <div class="contact-block-content">
                        <h2>{{vm.mailingAddressHeader}}</h2>
                        <div class="link-container">
                            <a target="_blank" ng-href="{{vm.mailingMapLink}}">
                                <span>{{vm.mailingStreetAddress}}</span>
                                <span>{{vm.mailingCity}}, {{vm.mailingState}} {{vm.mailingCity}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form class="eas-contact-form" ng-submit="vm.submitForm()">
                <input ng-model="vm.formName" type="text" placeholder="{{vm.namePlaceholder}}" class="form-control" ng-disabled="vm.formSubmitting" required/>
                <input ng-model="vm.formEmail" type="email" placeholder="{{vm.emailPlaceholder}}" class="form-control" ng-disabled="vm.formSubmitting" required/>
                <textarea rows="10" ng-model="vm.formMessage" placeholder="{{vm.messagePlaceholder}}" class="form-control" ng-disabled="vm.formSubmitting" required></textarea>
                <button type="submit" ng-disabled="vm.formSubmitting"><i class="fa fa-spinner fa-spin" ng-show="vm.spinningIcon"></i> {{vm.submitButtonText}}</button>
            </form>
        </div>
    </div>
</div>