$carousel-header: #4C4C4C;

.eas-carousel {
    text-align: center;

    img {
        @media (max-width: $screen-desktop - 1) {
            margin-bottom: 20px;
        }
    }

    .carousel-indicators {
        bottom: 0;
        display: inline-block;
        left: 0;
        margin-left: 0;
        margin-top: 12px;
        position: relative;
        width: auto;

        li {
            background-color: $red;
            border: 0;
            height: 11px;
            margin: 6px;
            opacity: .59;
            width: 11px;

            &.active {
                opacity: .9;
            }
        }
    }

    .carousel-inner {
        text-align: left;

        .carousel-content {
            color: $carousel-header;
            font-size: 17px;
            line-height: 160%;
        }

        .carousel-header {
            color: $carousel-header;
            font-size: 28px;
            margin: 0 0 20px;
            text-transform: uppercase;
        }
    }
}