<div class="container">
    <h1 class="eas-page-header">{{vm.aboutUsHeader}}</h1>
    <p class="eas-page-sub-header">{{vm.aboutUsSubHeader}}</p>
    <div class="eas-carousel">
        <div id="eas-about-us-carousel" class="eas-carousel carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                <div class="item" ng-class="{'active' : $index === 0}" ng-repeat="slide in vm.aboutUsSlides track by $index">
                    <div class="row">
                        <div class="col-md-6">
                            <img ng-src="{{slide.slideImage.sizes.medium_large}}" class="img-responsive"/>
                        </div>
                        <div class="col-md-6">
                            <h2 class="carousel-header">{{slide.slideHeader}}</h2>
                            <p class="carousel-content" ng-bind-html="slide.slideContent | unsafe"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ol class="carousel-indicators">
                        <li ng-class="{'active' : $index === 0}" data-target="#eas-about-us-carousel" ng-repeat="slide in vm.aboutUsSlides track by $index" data-slide-to="{{$index}}"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>