$footer-bg-color: #2a2a2a;
$eyebrow-nav-bg: #444444;
$navbar-bg: #323232;
$page-header: #323232;
$page-sub-header: #404051;
$social-media-bg-color: #4d4d4d;

a {
    img {
        border: 0;
        outline: 0;
    }

    &:active,
    &:focus {
        border: 0;
        outline: 0;
    }
}

body,
html {
    font-family: 'Open Sans', Arial;
    height: 100%;
}

footer {
    background-color: $footer-bg-color;
    margin-top: 50px;
    padding-bottom: 20px;
    padding-top: 30px;

    .footer-business {
        color: $white;
        font-size: 30px;
        text-align: center;
    }

    .footer-copyright {
        color: $white;
        font-size: 15px;
        margin-top: 50px;
        text-align: center;
    }

    .footer-logo {
        text-align: center;
    }

    .footer-message {
        text-align: center;

        a {
            color: rgba($white, .66);
            display: inline-block;
            font-size: 15px;
            margin-top: 15px;
        }
    }

    .footer-social-media {
        margin: 30px 0 0 0;
        padding: 0;
        text-align: center;

        li {
            background-color: $social-media-bg-color;
            border-radius: 50%;
            color: $white;
            display: inline-block;
            font-size: 25px;
            height: 45px;
            margin: 0 15px;
            padding: 0;
            position: relative;
            width: 45px;

            a {
                color: $white;
                cursor: pointer;
                display: block;
                height: 100%;
                position: relative;
                width: 100%;

                i {
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                &:active,
                &:focus,
                &:hover {
                    color: $red;
                    text-decoration: none;
                }
            }
        }
    }
}

h1 {
    font-size: 43px;
}

p {
    font-size: 16px;
}

.contact-info {
    display: inline-block;

    a {
        color: $white;
        font-size: 12px;
        margin-right: 15px;

        i {
            color: $red;
            font-size: 19px;
            font-weight: bold;
            margin-right: 3px;
            vertical-align: middle;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $red;
            cursor: pointer;
            text-decoration: none;
        }

        &:focus,
        &:active {
            text-decoration: none;
        }
    }
}

.contact-mobile-nav {
    .contact-info {
        a {
            display: block;
            margin-bottom: 15px;

            i {
                vertical-align: top;
            }

            &:first-child {
                margin-left: 3px;
            }

            &:nth-child(2) {
                margin-left: 5px;

                span {
                    display: inline-block;
                    margin-left: 2px;
                }
            }
        }
    }

    .social-email {
        float: none;

        ul {
            margin-bottom: 11px;

            li {
                display: inline;
                float: none;

                &:first-child {
                    a {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-tablet) {
        display: none;
    }
}

.dropdown {
    &:hover,
    &:active,
    &:focus {
        .dropdown-menu {
          display: block;
          margin-top: 0;
        }
  }
}

.eas-button {
    background-color: $red;
    border-radius: 6px;
    color: $white;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 23px;
    text-transform: uppercase;

    &:hover {
        background-color: darken($red, 5%);
        color: $white;
        outline: 0;
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
        color: $white;
    }
}

.eyebrow-nav {
    background-color: $eyebrow-nav-bg;
    padding: 10px 0;

    @media (max-width: $screen-tablet - 1) {
        display: none;
    }
}

.eas-page-header {
    color: $page-header;
    font-size: 28px;
    margin: 25px 0 0;
    text-align: center;
    text-transform: uppercase;

    &::after {
        background-color: $red;
        content: '';
        display: block;
        height: 1px;
        margin: 10px auto 0 auto;
        width: 50%;
    }
}

.eas-page-sub-header {
    color: $page-sub-header;
    font-size: 14px;
    line-height: 150%;
    margin: 10px 0 60px;
    text-align: center;
}

.main-view {
    height: auto;
    min-height: calc(100% - 104px);
    position: relative;

    &.home-page {
        height: calc(100% - 104px);
    }

    @media (max-width: $screen-tablet - 1) {
        min-height: calc(100% - 50px);
    }
}

.navbar {
    background-color: $navbar-bg;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    outline: 0 !important;

    .navbar-brand {
        padding-top: 10px;

        @media (max-width: $screen-tablet - 1) {
            padding-top: 4px;
        }
    }

    .navbar-collapse {
        border: 0;
    }

    .navbar-nav {
        > li {
            > a {
                color: $white;
                font-size: 13px;
                text-transform: uppercase;

                &:hover,
                &:active {
                    color: $red;
                    text-decoration: none;
                }

                &:focus {
                    color: $white;
                    text-decoration: none;
                }

                @media (min-width: $screen-tablet) {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }

            .product-menu {
                background-color: $eyebrow-nav-bg;
                border: 0;
                border-radius: 0;

                > li {
                    > a {
                        color: $white !important;

                        &:hover,
                        &:focus,
                        &:active {
                            background-color: $eyebrow-nav-bg;
                            color: $red !important;
                        }
                    }
                }

                @media (min-width: $screen-tablet) {
                    padding: 4px 0 10px;
                    right: auto;

                    > li {
                        > a {
                            padding: 7px 20px;
                        }
                    }
                }
            }

            &.open {
                a {
                    background-color: $navbar-bg;
                    color: $white !important;

                    &:hover,
                    &:focus,
                    &:active {
                        background-color: $navbar-bg;
                        color: $red;
                    }
                }
            }
        }
    }

    .navbar-toggle {
        color: $white;
        padding: 7px 10px;
        text-transform: uppercase;

        &:hover,
        &:focus {
            background-color: $white;
            color: $navbar-bg;
        }
    }
}

.social-email {
    float: right;
    margin-right: 15px;

    ul {
        li {
            float: left;

            a {
                color: $white;

                i {
                    font-size: 23px;
                    vertical-align: middle;
                }

                span {
                    font-size: 12px;
                }

                .fa-envelope {
                    color: $red;
                    font-size: 15px;
                }

                &.social-icon {
                    margin: 0 11px;
                }

                &:hover {
                    color: $red;
                    cursor: pointer;
                    text-decoration: none;
                }

                &:focus,
                &:active {
                    text-decoration: none;
                }

                &:last-child {
                    margin-left: 11px;
                }
            }
        }
    }
}
