$service-description: #3F3F51;
$service-title: #4C4C4C;

.service {
    margin-bottom: 80px;
    text-align: left;

    h2 {
        color: $service-title;
        font-size: 20px;
        font-weight: bold;
        margin-top: 25px;
        text-transform: uppercase;

        &::after {
            background-color: $red;
            content: '';
            display: block;
            height: 3px;
            margin-top: 10px;
            width: 60px;
        }
    }

    p {
        color: $service-description;
        font-size: 14px;
        line-height: 150%;
    }

    .service-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 0;
        padding-bottom: 66%;
        position: relative;
        text-align: center;
        width: 100%;
    }
}