<div class="container">
    <h1 class="eas-page-header">{{vm.servicesHeader}}</h1>
    <p class="eas-page-sub-header">{{vm.servicesSubHeader}}</p>
    <div vertilize-container class="row">
        <div vertilize class="col-md-5 col-sm-6 service" ng-class="{'col-md-offset-1' : $index % 2 === 0}" ng-repeat="service in vm.services track by $index">
            <div class="service-image" ng-style="{'background-image': 'url(\'{{service.image.sizes.medium_large}}\')'}"></div>
            <h2>{{service.title}}</h2>
            <p ng-bind-html="service.description | unsafe"></p>
        </div>
    </div>
</div>