$details-color: #1f2633;

.product-brand,
.product-model,
.product-categories,
.product-types {
    color: $details-color;
    font-size: 15px;

    h3 {
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        margin: 0 3px 15px 0;
        text-transform: uppercase;
    }

    ul {
        display: inline-block;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin: 0;
            padding: 0;

            &:not(:last-child) {
                &::after {
                    content: ', ';
                }
            }
        }
    }
}

.product-carousel {
    .carousel-indicators {
        bottom: 0;
        left: 0;
        margin-left: 0;
        position: relative;
        width: 100%;

        li {
            border-color: $red;
            height: 12px;
            margin: 0 3px;
            width: 12px;

            .product-image {
                opacity: .7;
            }

            &.active {
                background-color: $red;

                .product-image {
                    opacity: 1;
                }
            }

            @media (max-width: $screen-desktop - 1) {
                .product-image {
                    display: none;
                }
            }

            @media (min-width: $screen-desktop) {
                background-color: transparent;
                border: 0;
                border-radius: 0;
                height: auto;
                margin: 0;
                padding: 13px 18px;

                &:first-child {
                    float: left;
                    padding-left: 0;
                }

                &:last-child {
                    float: right;
                    padding-right: 0;
                }

                &.active {
                    background-color: transparent;
                }
            }
        }

        &.two-images {
            li {
                @media (min-width: $screen-desktop) {
                    width: 44%;
                }
            }
        }

        &.three-images {
            li {
                @media (min-width: $screen-desktop) {
                    width: 33%;

                    &:nth-child(2) {
                        padding-left: 9px;
                        padding-right: 9px;
                    }

                }
            }
        }

        @media (min-width: $screen-desktop) {
            text-align: center;
        }
    }
}

.product-description {
    color: $details-color;
    font-size: 15px;
    line-height: 150%;
    margin-top: 40px;

    p {
        color: $details-color;
        font-size: 15px;
        line-height: 150%;
    }

    @media (max-width: $screen-desktop - 1) {
        margin-top: 20px;
    }
}

.product-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 67.25%;
    width: 100%;

    @media (max-width: $screen-desktop - 1) {
        margin: 0 auto 20px auto;
        padding-bottom: 50.25%;
        width: 75%;
    }

    @media (max-width: $screen-phone - 1) {
        padding-bottom: 68.25%;
        width: 100%;
    }
}

.product-file-list {
    margin: 35px 0 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;

        a {
            color: $details-color;
            display: block;
            font-size: 15px;
            margin-bottom: 10px;
            margin-left: -4px;
            text-decoration: none;
            text-transform: capitalize;

            img {
                height: 28px;
                vertical-align: bottom;
                width: 28px;
            }

            &:active,
            &:focus,
            &:hover {
                color: $red;
                outline: 0;
            }
        }
    }
}