<div class="container">
    <h1 class="eas-page-header">{{vm.product.acf.name}}</h1>
    <p class="eas-page-sub-header">{{vm.product.acf.brand[0].post_title}}</p>
    <div class="row">
        <div class="col-md-5">
            <div ng-if="vm.product.acf.relatedImages">
                <div carousel-sliding id="product-carousel" class="product-carousel carousel" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="product-image" ng-style="{'background-image': 'url(\'{{vm.product.acf.primaryImage.sizes.large}}\')'}"></div>
                        </div>
                        <div class="item" ng-repeat="relatedImage in vm.product.acf.relatedImages">
                            <div class="product-image" ng-style="{'background-image': 'url(\'{{relatedImage.image.sizes.large}}\')'}"></div>
                        </div>
                    </div>
                    <ol class="carousel-indicators" ng-class="{'two-images': vm.product.acf.relatedImages.length === 1, 'three-images': vm.product.acf.relatedImages.length === 2}">
                        <li data-target="#product-carousel" data-slide-to="0" class="active">
                            <div class="product-image" ng-style="{'background-image': 'url(\'{{vm.product.acf.primaryImage.sizes.thumbnail}}\')'}"></div>
                        </li>
                        <li data-target="#product-carousel" data-slide-to="{{$index + 1}}" ng-repeat="relatedImage in vm.product.acf.relatedImages track by $index">
                            <div class="product-image" ng-style="{'background-image': 'url(\'{{relatedImage.image.sizes.thumbnail}}\')'}"></div>
                        </li>
                    </ol>
                </div>
            </div>
            <div ng-if="!vm.product.acf.relatedImages">
                <div class="product-image" ng-style="{'background-image': 'url(\'{{vm.product.acf.primaryImage.sizes.large}}\')'}"></div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="product-brand">
                <h3>brand:</h3>
                <span>{{vm.product.acf.brand[0].post_title}}</span>
            </div>
            <div class="product-model">
                <h3>model:</h3>
                <span>{{vm.product.acf.name}}</span>
            </div>
            <div class="product-categories">
                <h3>{{vm.categoriesHeader}}</h3>
                <ul>
                    <li ng-repeat="category in vm.productCategories">{{category.name}}</li>
                </ul>
            </div>
            <div class="product-types">
                <h3>{{vm.typesHeader}}</h3>
                <ul>
                    <li ng-repeat="type in vm.productTypes">{{type.name}}</li>
                </ul>
            </div>
            <div class="product-description" ng-bind-html="vm.product.acf.details | unsafe"></div>
            <ul class="product-file-list" ng-if="vm.product.acf.relatedFiles">
                <li ng-repeat="productFile in vm.product.acf.relatedFiles">
                    <a ng-href="{{productFile.file.url}}" target="_blank">
                        <img ng-src="{{vm.templateDirectory + '/assets/images/pdf.png'}}" />
                        <span>{{productFile.file.name}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>