$landing-dark-bg: rgba(0, 0, 0, .55);

.eas-landing {
    height: calc(100vh - 104px);
    width: 100%;

    .eas-inner-landing {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        position: relative;
        width: 100%;

        .container {
            height: 100%;
            position: relative;
            z-index: 1;
        }

        .hero {
            position: absolute;
            top: 40%;
            transform: translateY(-40%);
        }

        .subtitle {
            color: $white;
        }

        .tagline {
            p {
                color: $white;
                font-size: 43px;
                line-height: 1;
                padding-right: 15px;
            }
        }

        &::after {
            background-color: $landing-dark-bg;
            bottom: 0;
            content: '';
            display: block;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    @media (max-width: $screen-tablet - 1) {
        height: calc(100vh - 50px);
    }
}

.home-brands {
    margin-top: 40px;

    .indv-home-brand {
        height: 171px;
        position: relative;

        img {
            left: 50%;
            height: auto;
            max-height: 171px;
            max-width: 173px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: auto;
        }
    }
}