<div class="eas-landing">
    <div class="eas-inner-landing" ng-style="{'background-image': 'url(\'{{vm.backgroundImage}}\')'}">
        <div class="container">
            <div class="hero">
                <div class="tagline" ng-bind-html="vm.tagline | unsafe"></div>
                <p class="subtitle">{{vm.subtitle}}</p>
                <a class="eas-button" ng-href="{{vm.buttonLink}}">{{vm.buttonText}} <i class="fa" ng-class="{'{{vm.buttonIcon}}': vm.buttonIcon}"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="container home-brands">
    <div class="row">
        <div class="col-lg-2 col-sm-4 col-ms-6 indv-home-brand" ng-repeat="brand in vm.brands">
            <img class="img-responsive" ng-src="{{brand.acf.logo_image.sizes.medium_large}}" />
        </div>
    </div>
</div>