$number-color: #202833;
$number-bg: #212934;
$product-name: #1f2633;

.amount-selectors {
    margin: 0;
    padding: 0;

    li {
        color: $number-bg;
        display: inline;
        font-size: 13px;
        padding: 3px 8px;

        &:first-child {
            font-weight: bold;
        }
    }

    .selector {
        border: 1px solid $number-bg;
        cursor: pointer;
        font-weight: bold;
        margin-left: 4px;

        &.selected,
        &:hover {
            border-color: $red;
            color: $red;
        }
    }

    @media (min-width: $screen-phone) {
        text-align: right;
    }

    @media (max-width: $screen-desktop - 1) {
        margin-top: 15px;

        li {
            &:first-child {
                padding-left: 0;
            }
        }
    }
}

.filter-message {
    color: $red;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;

    &:hover {
        color: $red;
        text-decoration: underline;
    }

    @media (min-width: $screen-desktop) {
        display: none;
    }
}

.filter-section {
    margin-bottom: 40px;

    .filter-header {
        border-bottom: 1px solid rgba($black, .5);
        border-top: 1px solid rgba($black, .5);
        color: $product-name;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-top: 0;
        padding: 10px 0;
        text-transform: uppercase;
    }

    .filters {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 20px;
            padding-left: 10px;

            a {
                color: $product-name;
                cursor: pointer;
                display: block;
                font-size: 13px;

                &:hover {
                    color: $red;
                    text-decoration: none;
                }
            }

            .filter-number {
                background-color: rgba($number-bg, .45);
                border-radius: 50%;
                float: right;
                height: 26px;
                position: relative;
                text-align: center;
                width: 26px;

                .number {
                    color: $number-color;
                    left: 50%;
                    line-height: 1;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &.selected {
                a {
                    color: $red;
                    font-weight: bold;
                }

                .filter-number {
                    background-color: $red;

                    .number {
                        color: $white;
                    }
                }
            }
        }
    }
}

.loading-products {
    height: calc(100vh - 104px);
    position: relative;

    .loading-image {
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    @media(max-width: $screen-tablet - 1) {
        height: calc(100vh - 50px);
    }
}

.page-selectors {
    margin: 0;
    padding: 0;

    li {
        color: $number-bg;
        display: inline;
        font-size: 13px;
        padding: 3px 8px;
    }

    .selector {
        border: 1px solid $number-bg;
        cursor: pointer;
        font-weight: bold;
        margin-left: 4px;

        &.selected,
        &:hover {
            border-color: $red;
            color: $red;
        }
    }
}

.product {
    margin-bottom: 60px;

    .product-brand {
        color: $red;
        font-size: 12px;
        margin: 5px 0 10px;
        text-align: center;
    }

    .product-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        text-align: center;
        width: 100%;
    }

    .product-name {
        color: $product-name;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        text-align: center;
        text-transform: uppercase;

        &:hover {
            color: $red;
            text-decoration: underline;
        }
    }
}

.product-filters {
    @media (max-width: $screen-desktop - 1) {
        display: none;

        &.show {
            display: block;
        }
    }
}

.search-container {
    position: relative;

    i {
        color: $red;
        font-size: 15px;
        left: 25px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .search-products {
        background-color: rgba($black, .19);
        border: 0;
        box-shadow: 0;
        height: 35px;
        padding-left: 35px;
        width: 100%;
    }
}



.search-row {
    margin-bottom: 25px;
}

.showing-indication {
    color: $product-name;
    font-size: 13px;
    margin: 0;

    .currently-showing,
    .total-products {
        font-weight: bold;
    }

    @media (max-width: $screen-desktop - 1) {
        margin-top: 18px;
    }
}
