<div ng-if="vm.currentlyLoading" class="loading-products">
    <img class="loading-image" ng-src="{{vm.templateDirectory + '/assets/images/loading.gif'}}" />
</div>
<div class="container" ng-if="!vm.currentlyLoading">
    <h1 class="eas-page-header">{{vm.header}}</h1>
    <p class="eas-page-sub-header">{{vm.subheader}}</p>
    <div class="row search-row">
        <div class="col-md-3 search-container">
            <i class="fa fa-search"></i>
            <input type="text" class="search-products" ng-model-options='{ debounce: 200 }' ng-change='vm.searchProducts()' ng-model="vm.searchQuery"/>
        </div>
        <div class="col-md-3 col-ms-6">
            <h2 class="showing-indication">
                <span>Showing </span>
                <span class="currently-showing">{{vm.currentlyShowing}}</span>
                <span> of </span>
                <span class="total-products">{{vm.totalProducts}}</span> products
            </h2>
        </div>
        <div class="col-ms-6">
            <ul class="amount-selectors">
                <li>Show</li>
                <li class="selector" ng-class="{'selected': vm.showAtTime === 12}" ng-click="vm.changeShowAtTime(12)">12</li>
                <li class="selector" ng-class="{'selected': vm.showAtTime === 24}"  ng-click="vm.changeShowAtTime(24)">24</li>
                <li class="selector" ng-class="{'selected': vm.showAtTime === 0}"  ng-click="vm.changeShowAtTime(0)">ALL</li>
                <li>products</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a class="filter-message" ng-click="vm.toggleFilterSection()"><i class="fa fa-filter"></i> {{vm.filterMessage}}</a>
            <div id="product-filters" class="product-filters" ng-class="{'show' : vm.showFilters}">
                <div class="filter-section" ng-if="vm.brands.length > 0">
                    <h3 class="filter-header">Brands</h3>
                    <ul class="filters">
                        <li ng-class="{'selected': brand.isSelected}" ng-repeat="brand in vm.brands">
                            <a ng-click="vm.toggleFilter('brand', brand.data)">
                                <span>{{brand.data['post_title']}}</span>
                                <span class="filter-number">
                            <span class="number">{{brand.total}}</span>
                        </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="filter-section" ng-if="vm.categories.length > 0">
                    <h3 class="filter-header">Categories</h3>
                    <ul class="filters">
                        <li ng-class="{'selected': category.isSelected}" ng-repeat="category in vm.categories">
                            <a ng-click="vm.toggleFilter('category', category.data)">
                                <span>{{category.data.name}}</span>
                                <span class="filter-number">
                            <span class="number">{{category.total}}</span>
                        </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="filter-section" ng-if="vm.productTypes.length > 0">
                    <h3 class="filter-header">Types</h3>
                    <ul class="filters">
                        <li ng-class="{'selected': type.isSelected}" ng-repeat="type in vm.productTypes">
                            <a ng-click="vm.toggleFilter('type', type.data)">
                                <span>{{type.data.name}}</span>
                                <span class="filter-number">
                            <span class="number">{{type.total}}</span>
                        </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row" vertilize-container>
                <div vertilize class="col-lg-4 col-md-6 col-sm-6 col-ms-6 product" ng-repeat="product in vm.visibleProducts">
                    <div ng-click="vm.goToProduct(product)" class="product-image" ng-style="{'background-image': 'url(\'{{product.acf.primaryImage.sizes.medium}}\')'}"></div>
                    <h4 class="product-brand">{{product.acf.brand[0].post_title}}</h4>
                    <h2 ng-click="vm.goToProduct(product)" class="product-name">{{product.acf.name}}</h2>
                </div>
            </div>
            <div class="row pagination-row" ng-if="vm.visibleProducts.length < vm.products.length">
                <div class="col-md-12">
                    <ul class="page-selectors">
                        <li class="selector" ng-class="{'selected': vm.currentPage === $index}" ng-click="vm.goToPage($index)" ng-repeat="page in vm.numberOfPagesAvailable track by $index">
                            {{$index + 1}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>